{% extends "layouts/blank.html" %}

{% block page %}
          <div class="">
{% block space_header %}
{% endblock %}
            <div class="row top_tiles">
{% for widget in dash.blocks %}
{{ widget.render }}
{% endfor %}
            </div>
{% block space_middle %}
{% endblock %}
            <div class="row">
{% for widget in dash.widgets %}
{{ widget.render }}
{% endfor %}
            </div>
{% block space_footer %}
{% endblock %}
          </div>
{% endblock %}

{% block script %}
{% endblock %}

{% block app %}
<script type="text/javascript">
</script>
{% endblock %}

