{% extends "layouts/blank.html" %}

{% block heading %}All networks{% endblock %}

{% block page %}
<div class="row">
{% block header %}{% endblock %}
  <div class="clearfix"></div>
{% block loop %}
{% for entry in listing %}
{% block overview %}{% endblock %}
{% empty %}
{% block nothing %}{% endblock %}
{% endfor %}
{% endblock %}
    <div class="clearfix"></div>
{% block footer %}{% endblock %}
</div>
{% endblock %}

