{% extends "layouts/dashboard.html" %}

{% block styles %}
    <style type="text/css">
textarea {
    width: 100% !important;
}
    </style>
{% endblock %}

{% block space_header %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{% block form_title %}Form Design <small>different form elements</small>{% endblock %}</h2>
            <ul class="nav navbar-right panel_toolbox">
{% block form_options %}
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a></li>
                  <li><a href="#">Settings 2</a></li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
{% endblock %}
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post">
{% for field in form %}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-4 col-xs-6" for="{{ field.name }}">
                    {{ field.label }}
                    {% if field.required %}<span class="required">*</span>{% endif %}
                </label>
                {{ field.errors }}
                <div class="col-md-9 col-sm-8 col-xs-6">
                  {{ field }}
                </div>
{% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
{% endif %}
              </div>
{% endfor %}
              {% csrf_token %}
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
{% block form_buttons %}
                  <button type="submit" class="btn btn-success">Submit</button>
{% endblock %}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block space_middle %}
{% if results %}
{% block form_result %}
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Results <small>Stripped table subtitle</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
{% block form_data %}
{{ results }}
{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
  <div class="clearfix"></div>
{% endif %}
{% endblock %}

{% block space_footer %}{% endblock %}

