{% load sekizai_tags meta %}<!DOCTYPE html>
<html {% render_block 'html_extra' %}>
   <head {% meta_namespaces %}>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{% block site_title %}{{ site.title }}{% endblock %} | {% block page_title %}{% endblock %}</title>

      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
      <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

      <link href="{% static 'css/phoca-width-style.css' %}" rel="stylesheet" />
      <link href="{% static 'css/phoca-width.css' %}" rel="stylesheet" />

      <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/custom.css' %}" rel="stylesheet">
      <link href="{% static 'css/icheck/flat/green.css' %}" rel="stylesheet">

{% block styles %}{% endblock %}

      <script src="{% static 'js/jquery.min.js' %}"></script>

<!--[if lt IE 9]>
      <script src="../assets/js/ie8-responsive-file-warning.js' %}"></script>
<![endif]-->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
<![endif]-->

      <link href="{% static 'extras.css' %}" rel="stylesheet">
      <script src="{% static 'extras.js' %}"></script>

{% block script %}{% endblock %}
    {{ meta.og_description }}
{% include "meta/meta.html" %}
  </head>
  {% block body %}
  <body class="nav-md">
      <div class="container body">
          <div class="main_container">
              <div class="col-md-3 left_col">
                  <div class="left_col scroll-view">
{% include 'sidebar.html' %}
                  </div>
              </div>
              <!-- top navigation -->
              <div class="top_nav">
{% include 'navbar.html' %}
              </div>
              <!-- /top navigation -->
              <!-- page content -->
              <div class="right_col" role="main">
{% block page %}
                  <div class="">
                      <div class="page-title">
                          <div class="title_left">
                              <h3>{% block heading %}{% endblock %}</h3>
                          </div>
                          <div class="title_right">
                              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                  <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Search for...">
                                      <span class="input-group-btn">
                                          <button class="btn btn-default" type="button">Go!</button>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="row">
                          {% if messages %}
                          <script type="text/javascript">
jQuery(function () {
  {% for message in messages %}
  new PNotify({
    title: 'Flash Notification',
    text: '{{ message }}',
    {% if message.tags %}type: '{{ message.tags }}',{% endif %}
  });
  {% endfor %}
});
                          </script>
                          {% endif %}
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <!-- <div class="x_panel" style="height:600px;"> -->
                              <div class="x_panel">
                                {% block before_content %}
                                  <div class="x_title">
                                      <h2>{% block dash_title %}Blank Page{% endblock %}</h2>
                                      <ul class="nav navbar-right panel_toolbox">
{% block dash_ctrl %}
                                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                          </li>
                                          <li class="dropdown">
                                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                              <ul class="dropdown-menu" role="menu">
                                                  <li><a href="#">Settings 1</a>
                                                  </li>
                                                  <li><a href="#">Settings 2</a>
                                                  </li>
                                              </ul>
                                          </li>
                                          <li><a class="close-link"><i class="fa fa-close"></i></a>
                                          </li>
{% endblock %}
                                      </ul>
                                      <div class="clearfix"></div>
                                  </div>
                                {% endblock %}
                                  <div class="x_content">
                                    {% block content %}{% endblock %}
                                  </div>
                              </div>
                          </div>
                      </div>
                  {% endblock %}
                  </div>
                  <footer>
                      <div class="">
                          <p class="pull-right">NeuroChip a Code Maze by <a href="https://it-issal.info">IT-issal</a>. |
                              <span class="lead"> <i class="fa fa-paw"></i> Scuba Diving!</span>
                          </p>
                      </div>
                      <div class="clearfix"></div>
                  </footer>
              </div>
          </div>
      </div>
      <div id="custom_notifications" class="custom-notifications dsp_none">
          <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
          </ul>
          <div class="clearfix"></div>
          <div id="notif-group" class="tabbed_notifications"></div>
      </div>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      {% block extensions %}
      <script src="{% static 'js/progressbar/bootstrap-progressbar.min.js' %}"></script>
      <script src="{% static 'js/moment.min.js' %}"></script>
      <script src="{% static 'js/nicescroll/jquery.nicescroll.min.js' %}"></script>
      <script src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
      <script src="{% static 'js/icheck/icheck.min.js' %}"></script>
      {% endblock %}
      <script src="{% static 'js/chartjs/chart.min.js' %}"></script>
      {% block plugins %}
      {% endblock %}
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="http://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
      <script>
var connection = new autobahn.Connection({
    url:   "ws://apis.proto.uchikoma.xyz/junction",
    realm: "uchikoma"
});

var t1, t2;

connection.onopen = function (session, details) {
    console.log("Connected");

    function on_counter (args) {
       var counter = args[0];
       console.log("on_counter() event received with counter " + counter);
    }
    session.subscribe('com.example.oncounter', on_counter).then(
       function (sub) {
          console.log('subscribed to topic');
       },
       function (err) {
          console.log('failed to subscribe to topic', err);
       }
    );

    t1 = setInterval(function () {

       session.publish('com.example.onhello', ['Hello from JavaScript (browser)']);
       console.log("published to topic 'com.example.onhello'");
    }, 1000);

    function mul2 (args) {
       var x = args[0];
       var y = args[1];
       console.log("mul2() called with " + x + " and " + y);
       return x * y;
    }
    session.register('com.example.mul2', mul2).then(
       function (reg) {
          console.log('procedure registered');
       },
       function (err) {
          console.log('failed to register procedure', err);
       }
    );

    var x = 0;

    t2 = setInterval(function () {
       session.call('com.example.add2', [x, 18]).then(
          function (res) {
             console.log("add2() result:", res);
          },
          function (err) {
             console.log("add2() error:", err);
          }
       );

       x += 3;
    }, 1000);
};

connection.onclose = function (reason, details) {
    console.log("Connection lost: " + reason);
    if (t1) {
       clearInterval(t1);
       t1 = null;
    }
    if (t2) {
       clearInterval(t2);
       t2 = null;
    }
}

//connection.open();
	    </script>
      {% block app %}{% endblock %}
        <script type="text/javascript">
            $(document).ready(function() {
                // We use ``.ajax`` here due to the overrides.
                $.ajax({
                    // Substitute in your API endpoint here.
                    url: '//apis.uchikoma.faith/v1/users/',
                    contentType: 'application/json',
                    // The ``X-CSRFToken`` evidently can't be set in the
                    // ``headers`` option, so force it here.
                    // This method requires jQuery 1.5+.
                    beforeSend: function(jqXHR, settings) {
                        // Pull the token out of the DOM.
                        jqXHR.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
                    },
                    success: function(data, textStatus, jqXHR) {
                        // Your processing of the data here.
                        console.log(data);
                    }
                });
            });
        </script>
  </body>
  {% endblock %}
</html>

