                  <div class="nav_menu">
                      <nav class="" role="navigation">
                          <div class="nav toggle">
                              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                          </div>
                          <ul class="nav navbar-nav navbar-right">
{% if user.is_authenticated %}
                              <li class="">
                                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <img src="{{ user.mugshot }}" alt="">{{ user }}
                                      <span class=" fa fa-angle-down"></span>
                                  </a>
                                  <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                      <li><a href="{% url 'profile' subdomain='apis' %}">  Profile</a></li>
                                      <li><a href="{% url 'homepage' subdomain='apis' %}"> Accounts</a></li>
                                      <li>
                                          <a href="{% url 'settings' subdomain='apis' %}">
                                              <span class="badge bg-red pull-right">50%</span>
                                              <span>Settings</span>
                                          </a>
                                      </li>
                                      <li><a href="{% url 'homepage' subdomain='agenda' %}">Calendar</a></li>
                                      <li><a href="{% url 'homepage' subdomain='contacts' %}">Contacts</a></li>
                                      <li><a href="{% url 'homepage' subdomain='mail' %}">Mailbox</a></li>
                                      <li><a href="{% url 'homepage' subdomain='news' %}">Timeline</a></li>
                                      <li><a href="{% url 'logout' subdomain='apis' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                  </ul>
                              </li>
{% else %}
                              <li class="">
                                  <a href="{% url 'login' subdomain='apis' %}" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <i class="fa fa-user"></i>Login
                                      <span class=" fa fa-angle-down"></span>
                                  </a>
                              </li>
{% endif %}
                              <li role="presentation" class="dropdown">
                                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                      <i class="fa fa-envelope-o"></i>
                                      <span class="badge bg-green">{{ profile.mailing|length }}</span>
                                  </a>
                                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
{% for msg in profile.mailing %}
                                      <li>
                                          <a>
                                              <span class="image">
                                                  <img src="{% static 'images/img.jpg' %}" alt="Profile Image" />
                                              </span>
                                              <span>
                                                  <span>{{ msg.author }}</span>
                                                  <span class="time">{{ msg.when|since }}</span>
                                              </span>
                                              <span class="message">
                                                  {{ msg.text }}
                                              </span>
                                          </a>
                                      </li>
{% endfor %}
                                  </ul>
                              </li>
                          </ul>
                      </nav>
                  </div>

