                      <div class="navbar nav_title" style="border: 0;">
                          <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>{{ site.title }}</span></a>
                      </div>
                      <div class="clearfix"></div>
                      <div class="profile">
                          <div class="profile_pic">
                              <img src="{{ user.mugshot }}" alt="..." class="img-circle profile_img">
                          </div>
                          <div class="profile_info">
                              <span>Welcome,</span>
                              <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                          </div>
                      </div>
                      <br />
                      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                          <div class="menu_section">
                              <h3>{{ site.title }}</h3>
                              <ul class="nav side-menu">
                                {% for section in site.sections|related_fqdns:request.subdomain %}
                                <li>
                                  <a><i class="fa fa-{{ section.icon }}"></i> {{ section.title }} <span class="fa fa-chevron-down"></span></a>
                                  <ul class="nav child_menu" style="display: none">
                                    {% include section.template %}
                                  </ul>
                                </li>
                                {% endfor %}
                              </ul>
                          </div>
                          <div class="menu_section also_section">
                              <h3>See Also</h3>
                              <div class="row">
                                {% for section in site.sections|other_fqdns:request.subdomain %}
                                  <div class="col-lg-2">
                                     <a class="btn btn-xs btn-default" title="{{ section.title }}" href="//{{ section.domain }}/">
                                        <i class="fa fa-2x fa-{{ section.icon }}"></i>
                                     </a>
                                  </div>
                                {% endfor %}
                              </div>
                          </div>
{% if false %}
                          <div class="menu_section">
                              <h3>Live On</h3>
                              <ul class="nav side-menu">
                                  <li><a href="http://www.{{ site.title }}.xyz/"><i class="fa fa-home"></i> Landing Page</a></li>
                                  <li><a href="http://status.{{ site.title }}.xyz/"><i class="fa fa-signal"></i> Status Page</a></li>
                                  <li>
                                      <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span> <span class="label label-success pull-right">Coming Soon</span></a>
                                      <ul class="nav child_menu" style="display: none">
                                          <li><a href="page_404.html">404 Error</a>
                                          </li>
                                          <li><a href="page_500.html">500 Error</a>
                                          </li>
                                          <li><a href="plain_page.html">Plain Page</a>
                                          </li>
                                          <li><a href="login.html">Login Page</a>
                                          </li>
                                          <li><a href="pricing_tables.html">Pricing Tables</a>
                                          </li>

                                      </ul>
                                  </li>
                              </ul>
                          </div>
{% endif %}
                      </div>
                      <div class="sidebar-footer hidden-small">
                          <a data-toggle="tooltip" data-placement="top" title="Profile" href="{% url 'homepage' subdomain='apis' %}">
                              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                          </a>
                          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                          </a>
                          <a data-toggle="tooltip" data-placement="top" title="Lock">
                              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                          </a>
                          <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url 'logout' subdomain='apis' %}">
                              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                          </a>
                      </div>

