{% extends 'widgets/blocks/base.html' %}

{% block icon_class %}ontologies{% endblock %}

{% block content %}
    <div class="tile-stats">
      <div class="icon ontologies"><i class="fa fa-{{ widget.icon }}"></i></div>
      <div class="count">{{ payload.value }}</div>
      <h3>{{ widget.title }}</h3>
    </div>
{% endblock %}

